    @import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');

    * {
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
    }

      html {
        scroll-behavior: smooth;
    }

    .container-header {
        background: #1e2326;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 99;
    }

    .container-header header {
        max-width: 1100px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
    }

    .container-header header .log a {
        font-family: 'Righteous';
        font-size: 36px;
        color: #1CB698;
        text-decoration: none;
    }

    .container-header header ul {
        display: flex;
        list-style: none;
    }

    .container-header header nav ul li a {
        text-align: none;
        color: azure;
        margin: 0 15px;
        padding: 3px;
        transition: .5s;
        text-decoration: none;
    }

    .container-header header nav ul li a:hover {
        color: #1CB698;
    }

    .nav-responsive {
        background-color: #1CB698;
        color: rgb(255, 255, 255);
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        display: none;
    }
    .menu {
        background: linear-gradient(to top, rgba(30, 35, 38, .7), rgba(30, 35, 38, 2));
        /* url(/images/back.jpeg); background */
        background-size: cover;
        height: 100vh;
        color: #fff;
        display: flex;
        align-items: center;
    }

    .menu .container-banner {
        padding: 20px;
        background-color: #1e2326;
        max-width: 350px;
        margin: auto;
        text-align: center;
        border-radius: 40px;
        margin-top: 8rem;

    }

    .menu .container-banner img {
        margin-top: 40px;
        border: 10px solid #1CB698;
        height: 200px;
        display: block;
        width: 65%;
        margin: auto;
        border-radius: 100%;
        

    }


    .menu .container-banner h1 {
        margin-top: 40px;
        font-size: 42px;
        font-family: 'Righteous';
    }

    .menu .container-banner h2 {
        margin-top: 20px;
        font-size: 15px;
        font-weight: bold;
    }

    .menu .container-banner .social a {
        color: #fff;
        display: inline-block;
        text-decoration: none;
        border: 1.5px solid #fff;
        border-radius: 100%;
        width: 42px;
        height: 42px;
        line-height: 42px;
        margin: 40px 5px;
        font-size: 20px;
        transition: .3s;
    }

    .menu .container-banner .social a:hover {
        background-color: #1CB698;
    }

    .about-me {
        background-color: #1e2326;
        color: #fff;
        padding: 30px 20px;

    }

    .about-me .container-section {
        max-width: 1100px;
        margin: auto;
    }

    .about-me h2 {
        font-size: 48px;
        font-family: 'Righteous';
        text-align: center;
        padding: 20px 0;
    }

    .about-me .container-section p {
        font: 18px;
        line-height: 22px;
        margin-bottom: 20px;
    }

    .about-me .container-section p span {
        color: #1CB698;
        font-weight: bold;
    }

    .about-me .fil {
        display: flex;
    }

    .about-me .fil .col {
        width: 50%;
    }

    .about-me .fil .col h3 {
        font-size: 28px;
        font-family: 'Righteous';
        margin-bottom: 25px;
        text-align: center;
    }

    .about-me .fil .col ul {
        list-style: none;
    }

    .about-me .fil .col ul li {
        margin: 12px 0;
    }

    .about-me .fil .col ul li strong {
        display: inline-block;
        color: #1CB698;
        width: 130px;
    }

    .about-me .fil .col ul li span {
        background-color: #1CB698;
        padding: 3px;
        font-weight: bold;
        border-radius: 5px;
    }

    .about-me .fil .col .container-interests {
        display: flex;
        flex-wrap: wrap;
    }

    .about-me .fil .col .container-interests .interests {
        width: 100px;
        height: 100px;
        background-color: #252A2E;
        border-radius: 10px;
        margin: 0 15px 15px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: .3s;

    }

    .about-me .fil .col .container-interests .interests:hover {
        background-color: #1CB698;
    }

    .about-me .fil .col .container-interests .interests i {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .about-me button {
        cursor: pointer;
        background-color: transparent;
        border: 2px solid #fff;
        width: fit-content;
        display: block;
        margin: 20px auto;
        padding: 10px 22px;
        font-size: 16px;
        color: #fff;
        position: relative;
        z-index: 10;
    }

    .about-me button .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: #1CB698;
        z-index: -1;
        transition: 2s;
    }

    .about-me button:hover .overlay {
        width: 100%;
    }


    .skills {
        background-color: #252A2E;
        color: #fff;
        padding: 50px 20px;
    }

    .skills .container-section {
        max-width: 1100px;
        margin: auto;
    }

    .skills h2 {
        font-size: 48px;
        font-family: 'Righteous';
        text-align: center;
        padding: 20px 0;
    }

    .skills .fil {
        display: flex;
    }

    .skills .fil .col {
        width: 50%;
        padding: 0 20px;
    }

    .skills .fil .col h3 {
        font-size: 28px;
        font-family: 'Righteous';
        margin-bottom: 25px;
        text-align: center;

    }

    .skills .skill>span {
        font-weight: bold;
        display: block;
        margin-bottom: 10px;
    }

    .skills .skill .bar-skill {
        height: 8px;
        width: 80%;
        background-color: #131517;
        position: relative;
        margin-bottom: 30px;
    }

    .skills .skill .progress {
        background-color: #1CB698;
        position: absolute;
            top: 0;
            left: 0;
            height: 8px;
        }

        .skills .skill .bar-skill span {
            position: absolute;
            height: 40px;
            width: 40px;
            background-color: #1CB698;
            border-radius: 50px;
            line-height: 40px;
            text-align: center;
            top: -17px;
            right: -15px;
            font-size: 14px;
        }

        .skills .skill .Html {
            width: 0;
            animation: 2s Html forwards;
        }

        @keyframes Html {
            0% {
                width: 0%;
            }

            100% {
                width: 70%;
            }

        }

        .skills .skill .Css {
            width: 0%;
            animation: 2s Css forwards;
        }

        @keyframes Css {
            0% {
                width: 0%;
            }

            100% {
                width: 60%;
            }
        }

        .skills .skill .JavaScript {
            width: 0%;
            animation: 2s JavaScript forwards;
        }

        @keyframes JavaScript {
            0% {
                width: 0%;
            }

            100% {
                width: 50%;
            }
        }
        .skills .skill .Figma {
            width: 0%;
            animation: 2s Figma forwards;
        }

        @keyframes Figma {
            0% {
                width: 0%;
            }

            100% {
                width: 55%;
            }
        }

        .skills .skill .Git {
            width: 0%;
            animation: 2s Git forwards;
        }

        @keyframes Git {
            0% {
                width: 0%;
            }

            100% {
                width: 50%;
            }
        }

        .skills .skill .Github {
            width: 0%;
            animation: 2s Github forwards;
        }

        @keyframes Github {
            0% {
                width: 0%;
            }

            100% {
                width: 55%;
            }
        }

        .skills .skill .React {
            width: 0%;
            animation: 2s React forwards;
        }

        @keyframes React {
            0% {
                width: 0%;
            }

            100% {
                width: 40%;
            }
        }

        .skills .skill .Comunication {
            width: 0%;
            animation: 2s Comunication forwards;
        }

        @keyframes Comunication {
            0% {
                width: 0%;
            }

            100% {
                width: 80%;
            }
        }

        .skills .skill .Creativity {
            width: 0%;
            animation: 2s Creativity forwards;
        }

        @keyframes Creativity {
            0% {
                width: 0%;
            }

            100% {
                width: 80%;
            }
        }

        .skills .skill .Teamwork {
            width: 0%;
            animation: 2s Teamwork forwards;
        }

        @keyframes Teamwork {
            0% {
                width: 0%;
            }

            100% {
                width: 90%;
            }
        }

        .skills .skill .Autodidact {
            width: 0%;
            animation: 2s Autodidact forwards;
        }

        @keyframes Autodidact {
            0% {
                width: 0%;
            }

            100% {
                width: 90%;
            }
        }

        .skills .skill .Leadership {
            width: 0%;
            animation: 2s Leadership forwards;
        }

        @keyframes Leadership {
            0% {
                width: 0%;
            }

            100% {
                width: 90%;
            }
        }

        .skills .skill .Adaptability {
            width: 0%;
            animation: 2s Adaptability forwards;
        }

        @keyframes Adaptability {
            0% {
                width: 0%;
            }

            100% {
                width: 90%;
            }
        }

        .skills .skill .Problem-solving {
            width: 0%;
            animation: 2s Adaptability forwards;
        }

        @keyframes Adaptability {
            0% {
                width: 0%;
            }

            100% {
                width: 80%;
            }
        }

        .curriculum {
            background-color: #1e2326;
            color: #fff;
            padding: 50px 20px;
        }

        .curriculum .container-section {
            max-width: 1100px;
            margin: auto;
        }

        .curriculum h2 {
            font-size: 48px;
            font-family: 'Righteous';
            text-align: center;
            padding: 20px 0;
        }

        .curriculum .fil {
            display: flex;
            justify-content: space-between;
        }

        .curriculum .fil .col {
            width: 49%;
            padding: 0 20px;
        }

        .curriculum .fil .col h3 {
            font-size: 28px;
            font-family: 'Righteous';
            margin-bottom: 25px;
            text-align: center;

        }

        .curriculum .fil .left {
            border-right: 2px solid #252A2E;
        }

        .curriculum .fil .right {
            border-left: 2px solid #252A2E;
        }

        .curriculum .fil .item {
            padding: 25px;
            margin-bottom: 30px;
            background-color: #252A2E;
            position: relative;
        }

        .curriculum .fil .item h4 {
            font-size: 20px;
            margin-bottom: 10px;
        }

        .curriculum .fil .item .home {
            color: #1CB698;
            font-size: 22px;
            font-weight: bold;
            display: block;
        }

        .curriculum .fil .item .date {
            display: block;
            color: #1CB698;
            margin-bottom: 10px;
        }

        .curriculum .fil .item p {
            line-height: 24px;
        }

        .curriculum .fil .left {
            border-right: 2px solid #252A2E;
            margin-right: 20px;
        }

        .curriculum .fil .right {
            border-left: 2px solid #252A2E;
            margin-left: 20px;
        }

        .curriculum .fil .item .conectorl {
            height: 2px;
            background-color: #1CB698;
            width: 46px;
            position: absolute;
            top: 50%;
            right: -47px;
            z-index: 5;
        }

        .curriculum .fil .item .conectorl .circlel {
            display: block;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background-color: #1CB698;
            float: right;
            position: relative;
            bottom: 4px;
        }

        .curriculum .fil .item .conectorr {
            height: 2px;
            background-color: #1CB698;
            width: 47px;
            position: absolute;
            top: 50%;
            left: -46px;
            z-index: 5;
        }

        .curriculum .fil .item .conectorr .circler {
            display: block;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background-color: #1CB698;
            float: left;
            position: relative;
            bottom: 4px;
        }


        .portfolio {
            background-color: #252A2E;
            color: #fff;
            padding: 50px 20px;
        }

        .portfolio .container-section {
            max-width: 1100px;
            margin: auto;
        }

        .portfolio h2 {
            font-size: 48px;
            font-family: 'Righteous';
            text-align: center;
            padding: 20px 0;

        }

        .portfolio .galery {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .portfolio .galery .project {
            position: relative;
            max-width: 400px;
            height: fit-content;
            margin: 10px;
            cursor: pointer;
            color: #fff;
        }

        .portfolio .galery .project img {
            width: 100%;
            height: 80%;
            display: block;
        }

        .portfolio .galery .project .overlay {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            background: linear-gradient(rgba(28, 182, 152, .8), rgba(28, 182, 152, .8));
            display: flex;
            flex-direction: column;
            justify-content: center;
            transition: 1s;
            font-size: 18px;
            letter-spacing: 3px;
            opacity: 0;

        }


        .portfolio .galery .project .overlay h3 a {
            margin-bottom: 20px;
            transition: 1s;

        }

        .portfolio .galery .project .overlay:hover {
            opacity: 1;
        }

        .portfolio .galery .project .overlay:hover h3 a {
            margin-bottom: 0px;

        }


        .contact {
            background-image: url(/images/contact_bg.png);
            background-color: #1e2326;
            color: #fff;
            padding: 50px 0;
        }

        .contact .container-section {
            max-width: 1100px;
            margin: auto;
        }

        .contact h2 {
            font-size: 48px;
            font-family: 'Righteous';
            text-align: center;
            padding: 20px 0;
        }

        .contact .fil {
            display: flex;
        }

        .contact .col {
            width: 50%;
            padding: 10px;
            position: relative;
        }

        .contact .col input,
        .contact .col textarea {
            display: block;
            width: 100%;
            padding: 18px;
            border: none;
            margin-bottom: 20px;
            background-color: #252A2E;
            color: #fff;
            font-size: 18px;
            resize: none;
            border-color: #1CB698;

        }

        .contact button {
            cursor: pointer;
            background-color: transparent;
            border: 2px solid #fff;
            width: fit-content;
            display: block;
            margin: 20px auto;
            padding: 10px 22px;
            font-size: 16px;
            color: #fff;
            position: relative;
            z-index: 10;
        }

        .contact button .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background-color: #1CB698;
            z-index: -1;
            transition: 1s;
        }

        .contact button:hover .overlay {
            width: 100%;
        }

        .contact .col img {
            width: 100%;
        }

        .contact .col .info {
            position: absolute;
            top: 40%;
            background-color: #252A2E;
            padding: 20px;
            max-width: 350px;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .contact .col .info ul {
            list-style: none;
        }

        .contact .col .info ul li {
            margin-bottom: 20px;
        }

        .contact .col .info ul li i {
            color: #1CB698;
            display: inline-block;
            margin-right: 20px;
        }

        footer {
            background-color: #252A2E;
            color: #fff;
            padding: 30px 0 20px 0;
            text-align: center;
            position: relative;
            width: 100%;
        }

        footer .social {
            margin-bottom: 10px;
        }

        footer .social a {
            color: #fff;
            display: inline-block;
            text-decoration: none;
            border: 1px solid #fff;
            border-radius: 100%;
            width: 42px;
            height: 42px;
            line-height: 42px;
            margin: 40px 5px;
            font-size: 20px;
            transition: .3s;
        }

        footer .social a:hover {
            background-color: #1CB698;
        }

        footer .up {
            display: block;
            width: 50px;
            height: 50px;
            background-color: #1CB698;
            color: #fff;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -25px;
            border-radius: 50%;
            line-height: 50px;
            font-size: 18px;
        }

        @media screen and (max-width:980px) {
            nav {
                display: none;
            }

            .nav-responsive {
                display: block;
            }

            nav.responsive {
                display: block;
                position: absolute;
                right: 0;
                top: 75px;
                background-color: #252A2E;
                width: 180px;
            }

            nav.responsive ul {
                display: block !important;
            }

            nav.responsive ul li {
                border-bottom: 1px solid #fff;
                padding: 10px 0;
            }
        }

        @media screen and (max-width: 700px) {
            .about-me .fil {
                display: block;
            }

            .about-me .fil .col {
                width: fit-content;
            }

            .skills .fil {
                display: block;
            }

            .skills .fil .col {
                width: 100%;
            }

            .skills .fil .col .bar-skill {
                width: 100%;
            }

            .curriculum .fil {
                display: block;
            }

            .curriculum .fil .col {
                width: 90%;
            }

            .curriculum .fil .right {
                margin-left: 20px;
            }

            .portfolio .galery {
                display: block;
                width: 100%;
            }

            .portfolio .galery .project {
                max-width: 100%;
            }

            .portfolio .galery .project img {
                width: 100%;
            }

            .contact .fil {
                display: block;
            }

            .contact .fil .col {
                width: 100%;
            }
        }
